.divContainer {
    background-color: rgb(33, 37, 41);
    padding: 30px;
    border-radius: 5px;
    color: aqua;
    max-width: 500px;
}

.inputs {
    display: grid;
    color: rgb(240, 248, 255);
}